@import "tailwindcss";

:root {
  --background: #FFF8E1;
  --backgroundLight: #fcf9f1;
  --bgMain: #f3f2f0;
  --primary: #C62828;
  --text: #212121;
  --secondary: #F9A825;
  --header: #02081f;
  --grey: #c0c0c0;
  --accent: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-backgroundLight: var(--backgroundLight);
  --color-bgMain: var(--bgMain);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
  --color-header: var(--header);
  --color-grey: var(--grey);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
}

html,body{
  background: var(--backgroundLight);
  height: max-content;
  width: 100vw;
  overflow-x: hidden;
}

.ham-container{
  position: relative;
  height: 40px;
  width: 40px;
}

.hamburger{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 100%;
  background: var(--primary);
}

.hamburger::after{
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--primary);
}

.hamburger::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--primary);
}

/*Frequently begins*/

.frequently{
  height: max-content;
  width: 100%;
  background: var(--accent);
}

.frequently-container{
  height: max-content;
  width: 100%;
}

.frequent-question{
  height: max-content;
  width: 100%;
  display: flex;
}

@media only screen and (max-width: 767px){
  #frequently{
    height: max-content;
    width: 100%;
    padding: 10px 40px;
    background: var(--accent);
  }
  .frequent-question{
    padding: 10px;
    margin-bottom: 20px;
  }
}

.frequent-question-left{
  height: max-content;
  width: 80%;
}

.frequent-question-right{
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.frequequent-question-left-content{
  height: max-content;
  width: 100%;
  display: none;
}

.frequequent-question-left-content.active{
  transition: 0.3s ease-in-out;
  display: block;
}

.frequent-drop-down-container{
  height: max-content;
  width: max-content;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.frequent-drop-down-container.active{
  transform: rotate(-180deg);
}